#![enable(implicit_some)]
(
    name: Automatic,
    body: RandomWith("carnotaurus"),
    alignment: Alignment(Enemy),
    loot: LootTable("common.loot_tables.creature.theropod.carnotaurus"),
    inventory: (
        loadout: FromBody,
    ),
    meta: [],
)