ItemDef(
    name: "Lemoncio",
    description: "Male lemoncio foot",
    kind: Armor((
        kind: Foot,
        stats: Direct((
            protection: Some(Normal(5.0)),
            poise_resilience: Some(Normal(1.0)),
        )),
    )),
    quality: Low,
    tags: [],
)